<html>
<head>
  <!-- META DATA -->
  <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
  <meta name="author" content="https://www.Zerotheme.com">
  <%= javascript_include_tag 'application' %>
  <title>SweetCake</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

</head>

<body onload="loadMenuIndex();">

<!-- /////////////////////////////////////////Navigation -->
<nav id="page-top" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll">SweetCake</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to "Home", root_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "About", welcome_about_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Menu", menu_index_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Contact", welcome_contact_path, :class => "page-scroll" %>
        </li>

        <li class="drodown">
          <button id="accountButton" class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">My Account
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <%
              if session[:user_id] == nil
            %>
              <li role="presentation">
                <%= link_to register_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up
                <% end %>
              </li>


              <li role="presentation">
                <%= link_to sessions_create_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-in"></span>
                  Log In
                <% end %>
              </li>

            <% else %>
              <li role="presentation">
                <%= link_to cart_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                            <span class="glyphicon glyphicon-shopping-cart"
                                  data-count="
                              <% #Cart cart = (Cart) session.getAttribute("cart")
                                 #if (cart != null)
                                 #	int y = 0
                                 #	int x = cart.getOrder().size()
                                 #	for i in 0..x
                                 #		y += cart.getOrder().get(i).getQuantity()

                                 #	puts (y)
                                  %>"></span>
                  My Cart
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to account_path :id => session[:user_id] do %>
                  <span class="glyphicon glyphicon-home"></span>
                  My Account
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to logout_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-out"></span>
                  Log Out
                <% end %>
              </li>
            <%
              end
            %>
          </ul></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Navigation -->


<div class="container text-center">


  <div class="row">
    <div class="shopping-cart">
      <!-- Title -->
      <h2
        style="font-family: Montsserrat; font-style: italic; font-size: 2.3em;">SHOPPING
        CART</h2>
      <br />
      <br />
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end  %>
      <%

        if session[:cart] != nil && session[:cart]['total'] != nil
          session[:cart].each {|product, number|
            if product != 'total'
            puts "%%%%%"

            puts product
            puts session[product]['name']
      %>
          <!-- Product -->
          <div class="items">
            <div class="buttons">
              <form action="removeProduct" method="POST">
                <button type="submit" name="Remove" value="<%= product %>" style="background:white; color:black; border:none;">
                  <span class="glyphicon glyphicon-remove" style="color:#551A8B"></span>
                </button>
              </form>
            </div>

            <div class="image">
              <img src="<%="assets" + session[product]['img'].sub("images/", "") %>" alt="" /> <!-- TREBUIE LUATA SI IMAGINEA DIN BAZA DE DATE -->
            </div>

            <div class="description">
              <span><%= session[product]['name'] %></span>
            </div>

            <div class="quantity">
              <form action="plusProduct" method="POST">
                <button class="plus-btn" name="AddButton" value="<%= session[product]['name'] %>" type="submit">
                  <span class="glyphicon glyphicon-plus" style="color:#551A8B"></span>
                </button>
              </form>
              <input type="text" id = "<%= session[product]['name'] %>"name="name" value="<%= number %>" style="padding:5px">
              <form action="minusProduct" method="POST">
                <button class="minus-btn" name="Minus" value="<%= session[product]['name'] %>" type="submit">
                  <span class="glyphicon glyphicon-minus" style="color:#551A8B"></span>
                </button>
              </form>
            </div>

            <div class="total-price"><%= session[product]['price'] %></div>
          </div>

          <%
           end }
          %>
          <br/>

          <p style="text-align:right; font-size:16px; font-family:Montserrat; font-style:italic;">
            TOTAL : <%= session[:cart]['total'] %> &nbsp; &nbsp;
          </p>
          <br/>
          <form action="postOrder" method="POST">
            <button name="btn" id="btn" onclick="afisareDetaliiComanda();" class="btn3" style="margin: 0 auto; text-align:center">Command</button>
            &nbsp;
            <br/>
          </form>
          <br/>
          <%else
              if session[:mesaj] != nil
          %>
            <h2
              style="font-family: Montsserrat; font-style: italic; font-size: 1.6em;"><% session[:mesaj] %></h2>
          <%else %>
      <h2
        style="font-family: Montsserrat; font-style: italic; font-size: 1.6em;">YOUR SHOPPING
        CART IS EMPTY!</h2>
      <% end end %>
            </div>
            </div>

              </div>

<!-- FOOTER -->
<footer>
  <div class="wrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-footer col-md-3">
          <h2 class="footer-title">About Us</h2>
          <div class="textwidget">From cupcakes with neighbors in front of the block, we have come to offer sweet delights to all who want to taste our little pieces of happiness.. <br> <br>
            What motivates us is the desire to share the talent of our confectioners with anyone who wants to try out the goodies that come out of their hands.</div>
        </div>
        <div class="col-footer col-md-3">
          <h2 class="footer-title">CONTACT</h2>
          <div class='embed-container maps'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434" width="100%" height="200px" frameborder="0" style="border: 0"></iframe>
          </div>
          <span>JL.Kemacetan timur no.23. block.Q3<br>
							Jakarta-Indonesia</span>
          <span>+6221 888 888 90 <br>
							+6221 888 88891</span>
          <span>info@yourdomain.com</span>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>Copyright 2018 - Designed by Ana-Maria Rusu</p>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.facebook.com/Zerotheme"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Google Map -->
<script>
    $('.maps').click(function () {
        $('.maps iframe').css("pointer-events", "auto");
    });

    $( ".maps" ).mouseleave(function() {
        $('.maps iframe').css("pointer-events", "none");
    });
</script>
</div>
</body>
</html>