<%= form_with(model: user, local: true, class: 'container text-center') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2
    style="font-family: Montsserrat; font-style: italic; font-size: 2.3em;">CREATE
    ACCOUNT</h2>
  <br /> <br />
  <div class="container4">
    <div class="left"></div>
    <div class="right">


      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :full_name, :class => 'form-control registerInput', :placeholder => 'Insert full name here' %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, :class => 'form-control registerInput', :placeholder => 'Insert email here' %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, :class => 'form-control registerInput', :placeholder => 'Insert password here' %>
      </div>

      <div class="field">
        <%= form.label :telephone %>
        <%= form.text_field :telephone, :class => 'form-control registerInput', :placeholder => 'Insert telephone number here' %>
      </div>

      <div class="field">
        <%= form.label :address1 %>
        <%= form.text_field :address1, :class => 'form-control registerInput', :placeholder => 'Insert first address here' %>
      </div>

      <div class="field">
        <%= form.label :'address2*' %>
        <%= form.text_field :address2, :class => 'form-control registerInput', :placeholder => 'Insert second address here (optional)' %>
      </div>

      <div class="actions">
        <%= form.submit :class => 'btn btn-lg btn-primary' %>
      </div>

    </div>
  </div>
<% end %>