<html>
<head>
  <!-- META DATA -->
  <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
  <meta name="author" content="https://www.Zerotheme.com">
  <%= javascript_include_tag 'application' %>
  <title>SweetCake</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

</head>

<body onload="loadMenuIndex();">

<!-- /////////////////////////////////////////Navigation -->
<nav id="page-top" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll">SweetCake</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to "Home", root_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "About", welcome_about_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Menu", menu_index_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Contact", welcome_contact_path, :class => "page-scroll" %>
        </li>

        <li class="drodown">
          <button id="accountButton" class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">My Account
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <%
              #puts session.getAttribute("email") == null
              #if (session.getAttribute("email") == null)
              if true
            %>
              <li role="presentation">
                <%= link_to register_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up
                <% end %>
              </li>


              <li role="presentation">
                <%= link_to sessions_create_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-in"></span>
                  Log In
                <% end %>
              </li>

            <% else %>
              <li role="presentation">
                <%= link_to welcome_mycart_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                            <span class="glyphicon glyphicon-shopping-cart">
                            data-count="
                              <% #Cart cart = (Cart) session.getAttribute("cart")
                                 #if (cart != null)
                                 #	int y = 0
                                 #	int x = cart.getOrder().size()
                                 #	for i in 0..x
                                 #		y += cart.getOrder().get(i).getQuantity()

                                 #	puts (y)
                              %>"></span>
                  My Cart
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to welcome_myaccount_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-home"></span>
                  My Account
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to welcome_logout_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-out"></span>
                  Log Out
                <% end %>
              </li>
            <%
              end
            %>
          </ul></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Navigation -->



<header class="container">
  <p class="text-center">Monday - Friday <strong>11AM to 2PM</strong>, Saturday - Sunday <strong>9Am to 2PM</strong></p>
  <!-- CAROUSEL -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('banner1.jpg', :alt => '...') %>
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <h1>Great service and <br/>atmosphere</h1></br>
          <p style="line-height: 25px;">Come at our cake shop and enjoy the sweetest cakes and delights! <br/> Just take a look and try the most delicious one!</p></br>
          <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div><!-- /header-text -->
      </div>
      <div class="item">
        <%= image_tag('banner2.jpg', :alt => '...') %>
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <h1>Great service and <br/>atmosphere</h1></br>
          <p style="line-height: 25px;">Come at our cake shop and enjoy the sweetest cakes and delights! <br/>Just take a look and try the most delicious one!</p></br>
          <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div><!-- /header-text -->
      </div>
      <div class="item">
        <%= image_tag('banner3.jpg', :alt => '...') %>
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <h1>Great service and <br/>atmosphere</h1></br>
          <p style="line-height: 25px;">Come at our cake shop and enjoy the sweetest cakes and delights! <br/>Just take a look and try the most delicious one!</p></br>
          <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div><!-- /header-text -->
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->
</header>



<!-- /////////////////////////////////////////Content -->
<div id="page-content">
  <div id="main-content">
    <div class="container">
      <article>
        <div class="heading">
          <h2>
            <span class="hr">Contact</span>
          </h2>
        </div>
        <div class="row">
          <div class='embed-container maps'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434" width="100%" height="450px" frameborder="0" style="border: 0"></iframe>
          </div>
          <div class="col-md-4 box-item">
            <h3>Contact Info</h3>
            <span>You can find us on Rainbow Street number 3 next to the Old Bakery.</span><br> <br>
            <p>JL.Kemacetan timur no.23. block.Q3<br>
              Jakarta-Indonesia</p>
            <p>+6221 888 888 90 <br>
              +6221 888 88891</p>
            <p>info@yourdomain.com</p>
          </div>
          <div class="col-md-8">
            <h3>Contact Form</h3>
            <form name="form1" method="post" action="contact.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
											<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
                                placeholder="Message" style="height: 190px;"></textarea>
                  </div>
                  <button type="submit" class="btn btn-skin btn-block" name="submit" id="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>


<!-- FOOTER -->
<footer>
  <div class="wrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-footer col-md-3">
          <h2 class="footer-title">About Us</h2>
          <div class="textwidget">From cupcakes with neighbors in front of the block, we have come to offer sweet delights to all who want to taste our little pieces of happiness.. <br> <br>
            What motivates us is the desire to share the talent of our confectioners with anyone who wants to try out the goodies that come out of their hands.</div>
        </div>
        <div class="col-footer col-md-3">
          <h2 class="footer-title">CONTACT</h2>
          <div class='embed-container maps'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434" width="100%" height="200px" frameborder="0" style="border: 0"></iframe>
          </div>
          <span>JL.Kemacetan timur no.23. block.Q3<br>
							Jakarta-Indonesia</span>
          <span>+6221 888 888 90 <br>
							+6221 888 88891</span>
          <span>info@yourdomain.com</span>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>Copyright 2018 - Designed by Ana-Maria Rusu</p>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.facebook.com/Zerotheme"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Google Map -->
<script>
    $('.maps').click(function () {
        $('.maps iframe').css("pointer-events", "auto");
    });

    $( ".maps" ).mouseleave(function() {
        $('.maps iframe').css("pointer-events", "none");
    });
</script>
</div>
</body>
</html>
