// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#containerLogIn{
  padding: 8%;
  height: auto;
}

#containerLogIn .loginInput {
  margin-right: 10%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}