// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field{
  display: flex;
  margin-bottom: 20px;
}

.field label{
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  color: #337ab7;
  font-size: large;
}

.container4 .registerInput {
  margin-right: 10%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container4{
  padding-top: 8%;
}

.container4 .btn{
  margin-top: 20px;
}

.accountInfo{
  margin-bottom: 20%;
  margin-top: 10%;
}

.accountInfo .align1{
  color: #337ab7;
  font-size: large;
}

.accountInfo div{
  color: #337ab7;
  font-size: large;
}
