// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box-content.box-style-2{background: url("bg-2.jpg") no-repeat;}
.box-content.box-style-3{background: url("bg-3.jpg") no-repeat fixed;}

#page-content{
  margin: 50px;
}

#articleAbout{
  padding-top: 0px;
}

.panel-heading{
  margin-left: 45%;
}

.panel-body{
  font-size: 15px;
}

#submit{
  margin-left: 40%;
  width: 100px;
}