<html>
<head>
  <!-- META DATA -->
  <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
  <meta name="author" content="https://www.Zerotheme.com">
  <%= javascript_include_tag 'application' %>
  <title>SweetCake</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

</head>

<body onload="loadMenuIndex();">

<!-- /////////////////////////////////////////Navigation -->
<nav id="page-top" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll">SweetCake</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to "Home", root_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "About", welcome_about_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Menu", menu_index_path, :class => "page-scroll" %>
        </li>
        <li>
          <%= link_to "Contact", welcome_contact_path, :class => "page-scroll" %>
        </li>

        <li class="drodown">
          <button id="accountButton" class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">My Account
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <%
              #puts session.getAttribute("email") == null
              #if (session.getAttribute("email") == null)
              if true
            %>
              <li role="presentation">
                <%= link_to register_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up
                <% end %>
              </li>


              <li role="presentation">
                <%= link_to sessions_create_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-in"></span>
                  Log In
                <% end %>
              </li>

            <% else %>
              <li role="presentation">
                <%= link_to welcome_mycart_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                            <span class="glyphicon glyphicon-shopping-cart">
                            data-count="
                              <% #Cart cart = (Cart) session.getAttribute("cart")
                                 #if (cart != null)
                                 #	int y = 0
                                 #	int x = cart.getOrder().size()
                                 #	for i in 0..x
                                 #		y += cart.getOrder().get(i).getQuantity()

                                 #	puts (y)
                              %>"></span>
                  My Cart
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to welcome_myaccount_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-home"></span>
                  My Account
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to welcome_logout_path, :class => "dropdown-item", :role => "menuitem", :tabindex => -1 do %>
                  <span class="glyphicon glyphicon-log-out"></span>
                  Log Out
                <% end %>
              </li>
            <%
              end
            %>
          </ul></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Navigation -->